.accordion {
    width: 100%;
    margin: auto;
    
    @media (max-width:767px) {
        width: 100%;
    }
    .list-accordion {
        border-bottom: 1px solid $color-gray;
    }

    .accordion-heading {
        position: relative;
        color: $color-gray;
        width: 100%;
        display: block;
        padding: .6em .75em;
        cursor: pointer;
        font-size: 1.2rem;
        padding-right: 3.5em;

        .icon-cerrar{
            font-size: .95em;
            position: absolute;
            right: 4%;
            top: 22px;
            transition: all 0.3s ease-in-out;
            transform: rotate(45deg);
            font-weight: bold;
        }

        &.active,
        &:hover {
            color: $color-black;
            font-family: $font-bold;

            span {
                color: black;
            }
            
        }
        &.active {
            .icon-cerrar{
                -ms-transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                font-size: 1.2em;
                color: $color-primary;
            }
        }
    }

    li {
        position: relative;
        margin-bottom: 0;
        
        .accordion-content {
            display: none;
            padding: 0em 5em 1.5em 2em;

            &.active {
                display: block
            }
            .subtitle-heading {
                color: black;
                font-size: .9em;
            }
            .subtitle-heading2 {
                font-size: 1em;
                margin-bottom: 0;
                margin-top: 1em;
                color: $color-primary;
            }
            .text-ext {
                font-size: 1.3em;
                margin: 1em 0;
            }
            .content-icon {
                width: 1.3em;

                .icon-acc-int {
                    font-size: .8rem;
                    color: $color-primary;
                }
            }
            .a-wts {
                margin-left: 1.2em;
            }
        }
    }
}