.sct-banner-int {
    width: 100%;
    height: 67.77vh;//635px
    position: relative;

}
.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-title-banner {
    position: absolute;
    bottom: 10.3%;
    color: white;
    margin: auto;
    right: 0;
    left: 0;

    .title-banner {
        font-size: 2.4rem;
        letter-spacing: 1px;
    }
}
.sct-banner-dtll {
    height: 42.4vh ;
    .breadcrumb{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        .item-bradcrumb{
            .link-bradcrumb{
                color: $color-white;
                font-family: $font-light;
                &.active{
                    color: $color-white;
                }
            }
        }
    }
}