
.wrapper-select {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}

.dropdown-select {
    position: relative;
    display: inline-block;
    padding: 0;
    height: 2.4em;
    width: 26%;
    border-bottom: 2px solid $color-primary;
    margin-right: 6rem;

    select {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        border-color: transparent ;
        padding: 0 1em ;
        font-size: 1rem;

    }
    select::-ms-expand {
        display: none;
    }

    &:after {
        content: "";
        position: absolute;
        width: 1rem;
        height: 1rem;
        top: 50%;
        right: 1em;
        margin-top: -4px;
        z-index: 2;
        background: url("../../../assets/images/icons/arrow-select.svg") 0 0 no-repeat;
        background-size: 80%;
        transform: rotate(90deg);
        opacity: .7;
    }

    option {
        font-weight: normal;
        border-color: transparent ;
    }
    &:last-child {
        margin-right: 0 !important;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .dropdown select::-ms-expand {
        display: none;
    }

    select:focus::-ms-value {
        background: transparent;
        color: #222;
    }
}
