.title-border {
    font-size: 1.8rem;
    position: relative;
    padding-bottom: .9rem;
    padding-right: 1rem;

    &:after {
        content: "";
        position: absolute;
        width: 95%;
        height: 1px;
        background-color: $color-primary;
        bottom: 0;
        left: 0;
    }
}
.p-internas {
    font-size: .79rem;
    font-family: $font-light;
    margin-bottom: 1.55em;
    color: black;
}
.titles-int-sl {
    font-family: $font-primary;
    font-size: 1.5rem;
    text-transform: uppercase;
}
.p-internas-sl{
    font-family: $font-bold;
    font-size: 1.25em;
    line-height: 1.3;
}
.p-regular {
    font-family: $font-secondary;
    font-size: .9rem;
}
//btn-productos-name
.name-product{
    color: $color-white;
    padding: .2em 1.5em;
    border: 0;
    outline: none;
    text-transform: uppercase;
}
.descr-ttl-dob{
    margin-bottom: 4.5em;
}