/*************
    COLORS
*************/
$color-primary: #c51152;
$color-salud: #5090c8;
$color-bienestar: #f08a00;
$color-belleza: #7e1262;
$color-actividad: #7ab51e;
$color-linea-bb: #e6b900;
$color-gray: #999999;
$color-gray2: #838383;
$color-blacklight: #4a4a49;
$color-white: #fff;
$color-black: #000;
$bg-slider: #a3b5c1;

// $bg-salud: ;
// $bg-bienestar: ;
// $bg-belleza: ;
// $bg-actividad: ;
// $bg-linea-bb: ;
/*****************
    TYPOGRAFÍA
*****************/
$font-primary: 'nexaheavyuploaded_file';
$font-secondary: 'nexaregularuploaded_file';
$font-bold: 'nexa-bolduploaded_file';
$font-light: 'nexa-lightuploaded_file';