.info-prod{
    padding-right: 6em;
}
.title-detail-product{
    font-size: 1.79rem;
}
.subtitle-detail-product{
    font-size: 1.316rem;
}
.ttl-encuent{
    font-size: .95rem;
    padding: .7em 0;
}
.main-detail-products{
        padding-top: 23vh;
    .tabs{
        margin: 0px;
        padding: 0px;
        list-style: none;
        padding-top: 10px;
    
        .tab-link {
            background: none;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            font-size: .8rem;
            position: relative;
            margin-right: -5px;
            border: 1px solid;
            border-color: transparent;
            border-bottom: 1px solid $color-primary;
            z-index: 1;
    
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 0%;
                background-color: $color-primary;
                transition: .3s;
                left: 0;
                top: 0;
                z-index: -1;
    
            }
        }        
    }
    
    .tab-content,
    .tab-contents{
        display: none;
        padding: 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    }       
    .tab-content.current,
    .tab-contents.current{
        display: inherit;
    }
    // tabs descripcion de productos
    .tabs-info-product {

        .descr-ft{
            padding: .5em;
            position: relative;
            z-index: 1;
            &:before{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $bg-slider;
                z-index: -1;
            }
    
            &:nth-child(even){
                &:before{
                    opacity: .2;
                }
            }
            &:nth-child(odd){
                &:before{
                    opacity: .1;
                }
            }
            .text-primary-ft{
                width: 65%;
            }
            .text-secondary-ft,
            .text-primary-ft{
                margin: 0;
            }
        }
        .acces{
    
            .img-acces{
                height: 8.5rem;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: 1s;
                }
            }
    
            .ttl-prod-acces{
                font-size: .9rem;
                text-align: center;
                margin-top: 5px;
                font-weight: bold;
                transition: .3s;
            }
    
            &:hover{
                .img-acces{
                    img{
                        transform: scale(.9);
                    }
                }
                .ttl-prod-acces{
                    color: $color-primary;
                }
            }
        }
        .tabs{
            .tab-link{
                &:hover,
                &.current:hover{
                    color: $color-white;
                &:before{
                    height: 100%;
                    
                }
                
            }
            &.current{
                font-family: $font-bold;
                border-bottom: 0;
                border-color: $color-primary;
    
                &:before {
                    height: 10%;
                }
            }
            }
        }
    }

    
}
.list-descr-detall{
    .item-list-descr{
        position: relative;
        padding-left: 1em;
        line-height: 1.8;

        &:before{
            content: "";
            position: absolute;
            left: 0;
            top: 7px;
            width: 6px;
            height: 6px;
            background-image: url('../../assets/images/icons/circulo.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.sct-product-rel{
    .wrapper-cards-products {
        height: 78vh;

        .content-img-card .img-cnt {
            width: 65%;
        }
        .content-title-card .btn-vp {
            padding: .9em 0;
        }
    }
}
.tabs_goto{
    cursor: pointer;
}

.tabs_goto,
.video-circle {
    background-color: transparent;
    border: 1px solid;
    border-color: $color-black;
    border-radius: 50%;
    width: 5.8em;
    height: 5.8em;
    margin-bottom: 10px;
    outline: none;
    overflow: hidden;
    opacity: .5;
}
.tabs_goto.-active {
    border-color: $color-primary;
    opacity: 1;
}
.tabs_section {
    display: none;
    width: 77%;
    height: 33em;
    background-color: rgba(255, 255, 255, 0.1);

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.tabs_section.-open {
    display: block;
}
  
.video-circle{
a{
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    .img-cover{
        width: 44%;
        object-fit: contain;
    }
}
&:hover{
    opacity: 1;
}
}
.sct-product-rel{
    padding-top: 6em;

    .ttl-prl{
        margin-bottom: 1.8em;
        font-size: 2.89em;
    }
}
.icon-descarga-detalle{
    position: absolute;
    right: 6%;
    top: -4%;
    border-radius: 50%;
    border: 1px solid;
    padding: .5em;
    font-size: 3em;
    z-index: 1;
    color: $color-black;

    &:hover{
        color: $color-primary;
    }
}

.logos-tiendas{
    padding: 1em 0;
    figure{
        text-align: center;
        margin-bottom: 1em;
        img{
            width: 80%;
        }
    }
}