.sct-video-home {
    width: 100%;
    height: 100vh;
    
    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .title-banner-home{
        position: absolute;
        bottom: 8%;
        left: 0;
        right: 0;
        color: $color-white;
    }
}
.degradado{
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: url('../../assets/images/sombra_movil.png') bottom;
    background-repeat: repeat;
    z-index: 10;
    background-size: contain;
}
.sct-two-home{
    padding-top: 6em;
    .ttl-prd-dst{
        margin-bottom: 1.5em;
    }
}
.sct-three-home{
    width: 100%;
   padding-top: 11em;
}
.slider-home{
    height: 100vh;
    width: 100%;
    .slick-slide {
        height: 100vh;
        >div{
            height: 100%;
            .item-slider-home{
                height: 100%;
                position: relative;
                figure{
                    height: 100%;
                    img{
                        object-fit: cover;
                    }
                }
            }
        }
    }
    .name-prod-slider{
        position: absolute;
        bottom: 9%;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 100;

        .title-slider-h{
            font-size: 3.2em;
            font-family: $font-primary;
            color: $color-white;
            text-transform: uppercase;
            margin-bottom: .5em;

        }
        .btn-slider-h{
            border: none;
            color: $color-white;
            //background-color: $color-primary;
            border-radius: 30px;
            padding: 0.75em 2.5em;
            font-size: .95em;
            text-transform: uppercase;
            font-family: $font-secondary;
            cursor: pointer;
        }
    }

    .slick-prev, .slick-next{
        opacity: .45;
    }
}
.carousel-home-general {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .item-carosuel {
        padding: 0 2rem;

        .info-slider-home {
            width: 51.6%;
            float: left;

            .title-big-slider {
                font-size: 4.286em;
            }
            .subtile-slider {
                font-size: 2.36em;
            }
            .description-slider {
                font-size: .9rem;
                border-top: 1px solid rgba(0,0,0,.15);
                padding-top: 1.1em;
                margin-top: .7em;
                margin-bottom: 1.5rem;
            }
            .btn-slider {
                color: $color-white;
                padding: 1em 4em;
                font-size: .95rem;
                font-family: $font-bold;
                display: inline-block;
                border-radius: 30px;
                transition: .4s;
            }
            &>.bg-belleza{
                border: 2px solid $color-belleza;
                &:hover{
                    background-color: transparent !important;
                    color: $color-belleza;
                }
            }
        }

        .img-slider-h {
            width: calc(100% - 51.6%);
            float: right;
            img{
                width: 74%;
                float: right;
            }
        }
        .item-carosuel {
            transition: all .3s;
        }
    }

    .slick-prev,
    .slick-next{
        width: 2rem;
        height: 2rem;
    }
}
.carrosuel-two-home{
    
    // HOVER CARD HOME
    .slick-slide{
        position: relative;
        .wrapper-cards-products{

            &:before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background-color: $bg-slider;
                z-index: 1;
                transition: .4s;
                opacity: .1;
            }
            img{
                transition: .8s;
            }
        }

        &:nth-child(even){
            .wrapper-cards-products{
                &:before {
                    background-color: $bg-slider !important;
                    opacity: .15;
                }
            }
        }
        .wrapper-cards-products {
            .content-title-card{
                .btn-vp{                        
                    padding: 0;
                    .a-btn{
                        padding: .8em;
                    }
                }
            }
            &:hover {
                &:before{
                    background-color: $color-primary !important;
                    
                }
                img{
                    transform: scale(1.05);
                }
        
                .content-title-card{
                    .btn-vp{                        
                        &:before{
                            bottom: 0;
                        }
                        .a-btn{
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}

#fullpage {
    .section {
        
        &.fp-auto-height {
            height: auto !important;

            .fp-tableCell {
                height: auto !important;
            }
        }
    }
}