.sct-inst-use {
    padding-top: 2em;
    .title-border {
        &:after {
            display: none;
        }
    }

    .wrapper-select {
        .dropdown-select {
            width: 32%;
        }
    }
    .slider-instr-use{
        .wrapper-cards-products{
            height: auto;
            padding: 2em 1em;

            .img-cnt{
                width: 70%;
            }
            .btn-dscg{
                width: 14em;
            }
        }
    }
    .btn-bsc{
        border-radius: 30px;
        border: 2px solid $color-primary;
        position: relative;
        position: relative;
        width: 17%;
        float: right;
        overflow: hidden;
        color: $color-primary;
        button{
            padding: 7px;
            width: 100%;
            height: 100%;
            border: 0;
            background-color: transparent;
        }

        &:before{
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-primary;
            transition: .4s;
        }
        &:hover{
            color: $color-white;

            &:before{
                top: 0;
                z-index: -1;
            }
        }
    }
}
.rsp-slct{
    >.row{
        display: flex;
        align-items: center;
    }
}
.slider-dscg{

    .wrapper-cards-products{
        height: auto;
        padding: 2em 1em;

        &:before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            opacity: .2;
            transition: .4s;z-index: 1;
        }
        .img-cnt{
            transition: .7s;
            width: 70%;
        }
        .icon-descargar {
            position: absolute;
            height: 1em;
            left: 0;
            margin: auto;
            top: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            font-size: 6em;
            color: $color-white;
            transform: scale(0);
            transition: .4s;
            z-index: 2;
        }
        .btn-dscg{
            border: 2px solid $color-primary;
            border-radius: 30px;
            width: 10em;
            z-index: 10;
            text-transform: uppercase;
            position: relative;
            overflow: hidden;
            text-align: center;
            margin: .9em auto 0;
            
            &:before{
                content: "";
                position: absolute;
                background-color: $color-primary;
                left: 0;
                right: 0;
                height: 100%;
                bottom: -100%;
                z-index: -1;
                transition: bottom .3s;
                z-index: -1;
            }
            .a-btn{
                color: $color-primary;
                display: block;
                width: 100%;
                height: 100%;
                padding: .4em;
            }
        }
        &:hover{
            &:before{
                background-color: $color-primary;
            }
            .icon-descargar{
                transform: scale(1);
            }
            .img-cnt{
                transform: scale(.9);
                z-index: -1;
            }
            .btn-dscg{
                &:before{
                    bottom: 0;
                }
                .a-btn{
                    color: $color-white;
                }
            }
        }
    }
    .slick-prev,
    .slick-next{
        width: 1.5rem;
        height: 1.5rem;
    }
    .slick-next{
        right: -4%;
    }
    .slick-prev{
        left: -4%;
    }
}