.sct-description {
    padding-top: 4rem;
}
.description-us {
    margin-top: 3.7rem;
}
.img-us-int {
    width: 86.7%;
    height: 41.5em;
    float: right;
    img {
        width: 100%;
        height: 100%;
    }
}