.wrapper-footer{
    padding-top: 2em;
}
.titles-footer {
    font-family: $font-primary;
    text-transform: uppercase;
    font-size: .8rem;
    color: $color-black;
    margin: 0;
    line-height: 2;

    a{
        color: $color-black;
    }
}
.link-footer {
    font-size: .7rem;
    font-family: $font-secondary;
    color: $color-black;
}
.phons-f {
    .phones-footer {
        font-size:  0.895rem;
        font-family: $font-primary;
        line-height: 1;
        margin: 0;
        line-height: 1.4;
        a{
            color: $color-black;
        }
    }
    .link-footer {
        margin: 0;
        color: $color-black;
    }
}
.titles-footer,
.titles-footer a,
.link-footer,
.phones-footer a{
    transition: color .3s;
    &:hover {
        color: $color-primary;
    }
}
// BTN SUSCRIBIRSE
.wrapper-susc {
    .content-btn-susc {
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        height: 2.2rem;
        z-index: 1;
        
        &:before {
            content: "";
            position: absolute;
            background-color: $bg-slider;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            opacity: .4;
        }
        .input-susc {
            width: 12rem;
            height: 100%;
            border: 0;
            outline: none;
            background-color: transparent;
            padding: 0 10px;
            font-family: $font-bold;
            
        }
        .btn-susc {
            border: 0;
            height: 100%;
            width: calc(100% - 12rem);
            float: right;
            background-color: $color-primary;
            color: $color-white;
            font-family: $font-primary;
        }
    }
    .checkbox {
        .label-pol {
            font-size: .75rem;
            color: $color-black;
        }
        .span-pol {
            font-family: $font-secondary;
            font-weight: bold;
        }
    }
}

//CREDITOS
.crd {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    .crd1{
        float: left;
    }
    .crd2 {
        float: right;
        text-align: right;
    }
    .text-credits,
    .text-credits a {
        color: $color-black;
    }
    .text-credits {
        opacity: .6;
        line-height: 1;
        margin-bottom: 0;
    }
}
.icon-f{
    color: $color-primary;

    &.icon-phone{
        font-size: .9em;
    }
    &.icon-sobre{
        font-size: .85em;
        margin-right: 4px;
    }
    &.icon-ubc{
        font-size: 1.2em;
        margin-right: 5px;
    }
}
.rs-f{
    padding-top: 1em;
    .icon-rs-f{
        font-size: 2.2em;
        margin: 6px;
        color: $color-black;
    }
}