.wrapper-header{
    position: fixed;
    width: 100%;
    z-index: 100;

    .header{
        ul{
            margin-bottom: 0;
        }
        .list-rs{

            .icon-h{
                font-size: 2.3em;
                float: left;
                margin: 0 5px;
                transition: .3s;
                position: relative; 
    
                &.icon-facebook{
                    color: #005fba;
                    
                    &:hover{
                        //transform: scale(1.05);
                    }
                }
                &.icon-youtube{
                    color: #f61c0d;
                    
                    &:hover{
                        //transform: scale(1.05);
                    }
                }
                &.icon-wts{
                    color: #25d366;
                    &:hover{
                        //transform: scale(1.05);
                    }
                }
            }
            .icon-instg{
                width: 2.45em;
                float: left;
                transition: .3s;
                &:hover{
                    //transform: scale(1.05);
                }
            }
            .n-phone{
                font-size: 1.43em;
                font-weight: bold;
            }
        }
       
        .img-logo{
            width: 16em;
            margin: auto;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .content-nav{
            padding: 0 15px;
            background-color: $color-primary;
            width: 100%;
            display: table;
            position: relative;
            z-index: 1000;
            height: 4.7em;
        
            .list-nav{
    
                .item-nav {
                    width: 20%;
                    float: left;
                    
                    .link-nav {
                        color: $color-white;
                        float: left;
                        width: 100%;
                        font-size: 1.37em;
                        padding: .64em 0;
                        text-align: center;
                        position: relative;

                        &:before{
                            content: "";
                            width: 1px;
                            height: 60%;
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            margin: auto;
                            background-color: $color-white;
                            opacity: .4;
                        }  
                    }
                    &:last-child{
                        .link-nav{
                            &:before{
                                display: none;
                            }
                        }
                    }  
                    .icon-nav{
                        font-size: 2em;
                        margin-right: 10px;
                        position: relative;
                        top: 6px;
                    }   

                }
            }
        }
    }
    .menu-one{
        background-color: rgba(255,255,255,.9);
        //height: 5.2rem;
        position: relative;
        padding: 1.427em 0;
    
        >.container{
            height: 100%;
            width: 85% !important;
    
            >.row{
                display: flex;
                align-items: center;
                height: 100%;
            }
        }
        .div-search{
            .btn-search{
                border: 0;
                background: none;
                font-size: 2em;
                color: $color-primary;
                transition: .3s;
                
            }
            &:hover{
                .btn-search{
                    color: $color-blacklight;
                    opacity: .8;
                }
            }
        }
    }
}
.list-submenu{
    moz-column-width: 17em;
    -webkit-column-width: 17em;
    -moz-column-gap: 6em;
    -webkit-column-gap: 6em;

    .item-submenu{
        //width: 100%;
        display: inline-block;
    }
}
.menus {
    position: absolute;
    top: 0;
    left: 0;

    .content-ttl-prd{
        color: $color-white;
        text-align: center;
        a{
            color: $color-white;
        }

        .icon-rep{
            font-size: 5.5em;
        }

        .ttl-prd{
            font-size: 3em;
            text-transform: uppercase;
            margin-top: 8px;
            margin-bottom: 1em;
        }
    }

    .list-submenu{
        .item-submenu{
            color: $color-white;
            margin-bottom: 2em;

            .span-item-sub{
                font-family: $font-primary;
                text-transform: uppercase;
                font-size: 1.18em;
            }
            .list-prd-sub{
                .item-pdr-sub{
                    .link-pdr-sub{
                        color: $color-white;
                        font-size: .95em;
                        opacity: .8;
                        font-family: $font-secondary;
                    }
                }
            }
        }
    }

    .content-img-menu{
        position: absolute;
        left: -55%;
        top: 120px;

    }


    .info-subm{
        padding-top: 3em;
        
    }
}
#button-menu{
    font-size: 2em;
    color: $color-primary;
    z-index: 1000;
    cursor: pointer;
    transition: .3s;
    margin-left: 1em;

    &:hover{
        color: $color-blacklight;
        opacity: .8;
    }
}
.menu-hamb{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(198,15,82,.95);
    transition: height .8s;


    .link-menu-hamb{
        text-transform: capitalize;
        color: $color-white;
        font-size: 4.25em;
    }
    .link-subm-hamb{
        color: $color-white;
        font-size: 2em;
    }

    >.container{
        margin-top: -11em;
        opacity: 0;
        z-index: -1;

        >.row{
            display: flex;
            justify-content: center;
        }
    }
    &.vh{
        height: 100vh;
        z-index: 10000;
        >.container{
            opacity: 1;
            transition: .3s .5s;
        }
    }
}
.wrapper-submenu{
    position: relative;

    .menu-salud,
    .menu-bienestar,
    .menu-belleza,
    .menu-actividad,
    .menu-linea-bb {
        height: 0;
        transition: .6s;

        >.container{
            opacity: 0;
            transition: .3s .3s;
        }

        &:before{
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: .95;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    .menu-salud{

        &:before{
            background-color: $color-salud;
        }
        
    }
    .menu-bienestar{

        &:before{
            background-color: $color-bienestar;
        }
    }
    .menu-belleza{
        &:before{
            background-color: $color-belleza;
        }
    }
    .menu-actividad{
        &:before{
            background-color: $color-actividad;
        }
    }
    .menu-linea-bb{
        &:before{
            background-color: $color-linea-bb;
        }
    }
}

.submenu-{
    position: absolute;
    //background: pink;
    left: 0;
    width: 100vw;
    height: 0;
    top: 53px;
    display: none;
    z-index: 1001;
    transition: .3s 1s;

    .icon-cerrar{
        position: absolute;
        top: 76vh;
        margin: auto;
        text-align: center;
        left: 0;
        right: 0;
        font-size: 4em;
        color: $color-white;
        opacity: .5;
        transition: .1s 1s;
        cursor: pointer;
        
        &:hover{
            opacity: 1;
        }
    }

}
.content-nav{
    transition: linear .3s;
}
.content-nav.caida{
    height: 100vh !important;
   
}
.content-nav.caida.caida1{
    background-color: rgba(80,144,200,.95) !important;
}
.content-nav.caida.caida2{
    background-color: rgba(240,138,0,.95) !important;
}
.content-nav.caida.caida3{
    background-color: rgba(126,18,98,.95) !important;
}
.content-nav.caida.caida4{
    background-color: rgba(122,181,30,.95) !important;
}
.content-nav.caida.caida5{
    background-color: rgba(230,185,0,095) !important;
}
.content-img-menu{
   animation: fadeInImg 1s;
}
.menus.menu-bienestar .content-img-menu {
    position: absolute;
    left: -33%;
    top: 120px;
}
.content-nav.caida.caida1 .d-menu1{
    .submenu-{
        display: block;
        .content-img-menu{
            opacity: 1;
        }
    }  
}

.content-nav.caida.caida2 .d-menu2{
    .submenu-{
        display: block;  
        height: 100vh;
    }  
}
.content-nav.caida.caida3 .d-menu3{
    .submenu-{
        display: block;  
        height: 100vh;
    }  
}
.content-nav.caida.caida4 .d-menu4{
    .submenu-{
        display: block;  
    }  
}
.content-nav.caida.caida5 .d-menu5{
    .submenu-{
        display: block;  
    }  
}

.input-search{
    width: 0;
    border: 0;
    transition: width .4s;
    border:1px solid;
    border-color: transparent;
    position: relative;
    top: -5px;
    color: $color-primary;
    font-family: $font-secondary;
    background-color: transparent;
    outline: none;
    padding: 3px 10px;
}
@-webkit-keyframes fadeInImg {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeInImg {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
                transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
.icn{
    transform: scale(1);
}
.icn:hover {
	animation: hidde_icons 0.4s;
}

@keyframes hidde_icons {
	0% {
		transform: scale(.2)
	}
	100% {
		transform: scale(1)
	}
}

.menu-mobile{
    padding-top: 7vh;
    .list-unstyled{
        a{
            color: $color-white;
            width: 100%;
            display: block;
            padding: .4em;
        }

        .nav-header{
            .name-prod{
                font-family: $font-primary;
                color: $color-white;
                text-transform: uppercase;
                font-size: 1.4em;
                line-height: 1.5;
                border-bottom: 1px solid rgba(255,255,255,.2);
                padding: .5em 0px;    
                margin: 0;
                padding-left: 2em;
                position: relative;

                .icon-arrow-m-mobile{
                    position: absolute;
                    right: 3px;
                    transform: rotate(-90deg);
                }
                .icon-mob{
                    position: absolute;
                    left: 5px;
                    top: 15px;
                }
            }
            &:first-child{
                .name-prod{
                    border-top: 1px solid rgba(255,255,255,.2);
                }
            }
        }
        .subm-nav-header{
            font-family: $font-secondary;

            .item-subm-nav{
                
                .link-subm-nav{
                    font-weight: bold;
                    text-transform: capitalize;
                    padding-left: 3em;
                    border-bottom: 1px solid rgba(255,255,255,.2);

                    .icon-arrow-m-mobile{
                        position: absolute;
                        right: 25px;
                        transform: rotate(-90deg);
                    }
                }
            }
            .list-int{
                border-bottom: 1px solid rgba(255,255,255,.2);

                .item-int{
                    padding-left: 4em;
                    

                    a{
                        padding: .2em;
                    }
                }
            }
        }
    }
    .ttl-enl{
        text-align: center;
        font-size: 1.2em;
        padding: 0 15px;
        margin-top: 2.5em;
        position: relative;
        a{
            float: left;
            text-align: center;
            display: block;
            width: 100%;
            padding: .7em 0;
            background: rgba(255,255,255,.8);
            color: $color-primary;
        }
        .icon-arrow-m-mobile{
            position: absolute;
            right: 43px;
            transform: rotate(180deg);
            
        }
    }
    .menu-enl{
        position: absolute;
        top: 0;
        background: $color-primary;
        width: 100%;
        right: -100%;
        height: 100vh;
        transition: .3s;
        .icon-arrow-regresar{
            color: $color-white;
        }
        a{
            color: $color-white;
        }
        .nav-enl{
            padding-left: 3em;
            padding-top: 2em;

            .item-nav-enl{
                font-size: 2.2em;
                line-height: 1.7;

                .subm-nav-enl{
                    font-size: .65em;
                }
            }
        }
        h2{
            padding: 0 1em;
        }
    }
}
.carrousel-header{
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    .item-carrosuel-h{
        a{
            color: $color-white;
            width: 100%;
            display: block;
            padding: .5em 1em;
            height: 100%;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                width: 1px;
                height: 60%;
                background-color: $color-white;
                opacity: .5;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
    }
    .icon-h-cars{
        font-size: 1.5em;
        top: 3px;
        position: relative;
    }
}

.div-scroll {
    height: 50vh;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        background-color: rgba(255,255,255,.1);;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255,255,255,.5);
        
    }
}
